body {
  margin: 0;
}

.page {
  height: 100%;
}

.ERROR, .CRITICAL, .PANIC, .FATAL {
  color: red;
}

.WARNING {
  color: darkorange;
}

.SUCCESS {
  color: green;
}

.PROGRESS {
  color: teal;
}

.location {
  color: gray;
  font-size: small;
}

.key_val {
  font-weight: bold;
}

.line:hover .location {
  display: inline;
}

.controls {
  position: fixed;
  top: 0;
  width: 100%;
  background: #f7f7f7;
  font-family: sans-serif;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #cecece;
}

.lines {
  margin-top: 80px;
  padding: 10px;
}

.requestId:hover {
  cursor : pointer;
}

.threadName:hover {
  cursor : pointer;
}

#clearHighlights {
  position : absolute;
  right : 20px;
}

