.ERROR, .CRITICAL, .PANIC, .FATAL {
  color: red;
}

.WARNING {
  color: darkorange;
}

.SUCCESS {
  color: green;
}

.PROGRESS {
  color: teal;
}

.location {
  color: gray;
  font-size: small;
}

.key_val {
  font-weight: bold;
}

.line:hover .location {
  display: inline;
}

.controls {
  position: fixed;
  top: 10px;
  height: 60px;
  width: 100%;
  background: #f7f7f7;
  font-family: sans-serif;
}

.lines {
  margin-top: 80px;
}

