.ERROR, .CRITICAL, .PANIC, .FATAL {
  color: red;
}

.WARNING {
  color: darkorange;
}

.SUCCESS {
  color: green;
}

.PROGRESS {
  color: teal;
}

.location {
  color: gray;
  font-size: small;
}

.key_val {
  font-weight: bold;
}

.line:hover .location {
  display: inline;
}
